* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    overflow-x: hidden;

}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1460px;
    min-width: 800px;
    margin: 0 auto;
}

.full-width {
    width: 100%;
    background-color: rgba(180, 208, 231, 1);
    padding: 5%;
}

.btn-blu {
line-height: 1rem;
color: white;
background-color: rgba(0, 97, 255, 1);
padding: 10px;
border: none;
margin: 10px auto;
}

br {
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}


.container-nav {
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 1;
    line-height: 60px;
    border-bottom: 1px rgb(0, 0, 0, 0.5) solid;

}

.min-width {
    width: 80%;
    position: inherit;
    margin-left: 10%;
    padding-left: 10%;
    display: block;
}

.nav-left {
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
}

.nav-right {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
    
}

.nav-left li,
.nav-right li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
}

.nav-left li:hover {
    border-bottom:rgba(0, 97, 255, 1) 1px solid;
}

.nav-right li:hover {
    border-bottom:rgba(0, 97, 255, 1) 1px solid;
}

#noborder:hover {
    border: none;
}

.nav-left ul,
.nav-right ul {
    position: relative;

}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: black;
} 

#btn-nav {
    line-height: 1rem;
    color: white;
    background-color: rgba(0, 97, 255, 1);
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: auto;
    z-index: 1;
    text-align: left;
  }

  .dropdown-content a {
      display: inline-block;
      padding: 0.5rem 0.2rem 0.2rem 0.2rem;
  }

  .dropdown:hover .dropdown-content {
      display: block;
    }

.logo-nav {
    float: left;
    margin-top: 1.4rem;
    margin-left: 1rem;
}

/* Sezione 1 */



.main-header {
    background-color: rgba(180, 208, 231, 1);
    width: 100%;
    height: 80vh;
    text-align: left;
    position: relative;
    top: 80px;
    padding-left: 20%;
    padding-right: 20%;
}

.slogan {
    text-align: left;
    position: relative;
    top: 70px;
    margin-bottom: 60px;
    display: inline-block;
}

.slogan2 {
    text-align: left;
    width: 50%;
    position: relative;
    top: 70px;
    margin-bottom: 60px;
    display: inline-block;
}

.slogan2 a {
    text-decoration: underline;
}


.col-left {
    float: left;
    width: 30%;
    padding-top: 60px;
}

.col-right {
    float:left;
    width: 70%;
    padding-top: 60px;
}

.col-right img {
    width: 120%;
}

.col-left a i {
    font-size: 2rem;
}

/*sezione2*/

.container-card {
    display: inline-block;
    margin-top: 50px;
    width: 100%;
    padding-top: 30px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}


.card {
    width: calc((80% - 2rem) / 3);
    height: 690px;
    margin-right:2rem;
    float: left;
    border: black 1px solid;
}

.card-title {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    line-height: 1.8rem;
}

.card button {
    margin-left: 20px;
}

.card ul {
    list-style: none;
    margin: 20px;
}

.price {
    font-weight: bold;
}

.month {
    font-weight: lighter;
}

.card li {
    font-size: 12px;
    margin-top: 0.5rem;
    line-height: 1rem;
    vertical-align: middle;
}

li hr {
    width: 50px;
    color: 1px solid gray;
}

li i {
    font-size: 20px;
    float: left;
}

#blue {
    color: blue;
}

.card2 {
    width: 83%;
    height: 200px;
    margin-top: 30px;
    border: black 1px solid;
    float: left;
}

.nodot {
    list-style: none;
    padding-left: 5%;
    margin-top: -5%;
}

.nodot li {
    line-height: 3rem;
}

.col-right2 {
    width: 90%;
padding-top: 75px;
position: absolute;
}

.col-left2 {
    float: right;
    padding-top: 25px;
    padding-right: 36px;
}

.col-left3 {
    float: left;
    padding-top: 65px;
}

.col-right3 {
    float: right;
    padding-top: 100px;
    position: absolute;
    left: 15%;
    width: 65%;
    padding-left: 37%;
}

.btn-grey {
line-height: 1rem;
background-color: rgb(255, 255, 255);
padding: 10px;
border: #616161 2px solid;
margin: 10px auto;
}

.col-right3 p {
    margin:  25px 0;
}

.column {
    width: calc(80% / 3);
    height: auto;
    margin-right: 1em;
    margin-top: 2rem;
    float: left;
    position: relative;
    text-align: center;
}

.column img {
    width: 80%;
}

.column h4,
.column p {
    text-align: left;
    padding-top: 15px;
}

.square {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    text-align: center;
}

.square svg {
    width: 83%;
    position: relative;
    right: 50%;
    top: 50%;
    transform: translate(60%, -50%);
    fill: white;
}


.square-big {
    width: 33.8%;
    height: 33vw;
    float: left;
    position: relative;
    text-align: center;
    background-color: rgb(245,245,245);
    overflow-y: scroll;
}

.square-big img {
    width: 30%;
    margin-left: 30px;
    display: inherit;
    margin-top: 30px;
}

.square-big hr {
    border: 1px solid;
    color: rgb(0, 0, 0, 0.5);
    margin-left: 20px;
    width: 30%;
    margin-bottom: 30px;
}

.square-big p {
    text-align: left;
    width: 70%;
    margin-left: 20px;
}

cite {
    position: relative;
    top: 5%;
    left: 5%;
  }

.mosaic {
    width: 100%;
    padding-top: 3%;
}

.div4 {
    width: 33%;
    height: 33vw;
    float: left;
}


.des {
    background-color: rgb(171, 209, 160);
    border: 10px solid rgb(212, 232, 207);
    height: 100%;
    width: 100%;
}

.asu {
    background-color: rgb(89, 19, 43);
    height: 100%;
    width: 100%;
}


.uf {
    background-color: rgb(60, 146, 201);
    height: 100%;
    width: 100%;
}
.topp {
    background-color: rgb(236, 59, 47);
    height: 100%;
    width: 100%;
}

.wbr {
    background-color: rgb(197,41,43);
    height: 100%;
    width: 100%;
}

.hc {
    background-color: rgb(171,192,200);
    height: 100%;
    width: 100%;
}

.lp {
    background-color: rgb(16, 39, 124);
    height: 100%;
    width: 100%;
}

.cc {
    background-color: rgb(250,216,86);
    height: 100%;
    width: 100%;
}

.slogan3 {
    text-align: left;
    display: inline-block;
    width: 35%;
    color: #61082B;
    left: -4%;
}

.btn-float {
    float: left;
    left: 65%;
    position: relative;
    top: 30%;
    line-height: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    border: none;
    margin: 10px auto;
  }

.faq {
    list-style: none;
    margin-top: 5%;
    border-top: 1px solid gray;
    line-height: 3rem;
    margin-bottom: 5%;  
    width: 85%;
}

.faq li {
    border-bottom: 1px solid gray;
}

.faq li i {
    color: black;
    float: right;
}

.hidden {
    display: none;
    list-style: none;
    line-height: 1rem;
    margin-bottom: 10px;
    font-size: 12px;
}

.hidden li {
    border: none;
}

.faq li:hover .hidden {
    display: block;
}

.footer {
    width: 100%;
    background-color: black;
    padding: 5% 0 2rem 15%;
}

.footer ul {
    color: white;
    list-style: none;
    display: inline flow-root list-item;
    margin-right: 100px;
}

.footer li {
    color: white;
    line-height: 2rem;
    text-align: center;
}

.footer a {
    color: white;
}

.lang i {
    color: white;
    font-size: 14px;
}

.lang {
    font-size: 14px;
color: white;
border-top: 1px solid white;
width: 110px;
margin-top: 20px;
padding-top: 10px;
}