* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: brown;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1440px;
    min-width: 800px;
}

.btn-blu {
line-height: 1rem;
color: white;
background-color: rgba(0, 97, 255, 1);
padding: 10px;
border: none;
margin: 10px auto;
}

br {
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}


.container-nav {
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 1;
    line-height: 60px;
    border-bottom: rgb(0, 0. 0, 0.7);
}

.nav-left {
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
}

.nav-right {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
}

.nav-left li,
.nav-right li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
}
.nav-left ul,
.nav-right ul {
    position: relative;

}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: black;
} 

#btn-nav {
    line-height: 1rem;
    color: white;
    background-color: rgba(0, 97, 255, 1);
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: auto;
    z-index: 1;
    text-align: left;
  }

  .dropdown-content a {
      display: inline-block;
      padding: 0.5rem 0.2rem 0.2rem 0.2rem;
  }

  .dropdown:hover .dropdown-content {
      display: block;
    }

.logo-nav {
    float: left;
    margin-top: 1.4rem;
    margin-left: 1rem;
}

/* Sezione 1 */

.full-width {
    width: 100%;
}

.main-header {
    background-color: rgba(180, 208, 231, 1);
    width: 100%;
    height: 80vh;
    text-align: left;
    position: relative;
    top: 80px;
    padding-left: 20%;
    padding-right: 20%;
}

.slogan {
    text-align: left;
    position: relative;
    top: 10%;
    margin-bottom: 60px;
}

.col-left {
    float: left;
    width: 30%;
    display: inline-block;
    padding-top: 60px;
}

.col-right {
    float:left;
    width: 70%;
    display: inline-block;
    padding-top: 60px;
}

.col-right img {
    width: 120%;
}

.col-left a i {
    font-size: 2rem;
}