* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: brown;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1440px;
    min-width: 800px;
}

.container-nav {
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
}

.nav-left {
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
}

.nav-right {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
}

.nav-left li,
.nav-right li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
}
.nav-left ul,
.nav-right ul {
    position: relative;

}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: black;
} 

#btn-nav {
    line-height: 1rem;
    color: white;
    background-color: rgba(0, 97, 255, 1);
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: auto;
    z-index: 1;
    text-align: left;
  }

  .dropdown-content a {
      display: inline-block;
      padding: 0.5rem 0.2rem 0.2rem 0.2rem;
  }

  .dropdown:hover .dropdown-content {
      display: block;
    }
